@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Poppins:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-gold-400: #F6D35E;
  --color-gold-500: #F3C012;
  --color-gold-600: #9C8640;
  --color-gold-700: #6E5D2A;
  
  --color-dark-900: #1C2534;
  --color-dark-800: #263246;
  --color-dark-700: #313F57;


  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Poppins", ui-sans-serif, system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-dark-900);
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}
